@import url("footer.css");
@import url("header.css");
@import url("loader.css");
@import url("main.css");
@import url("reset.css");
@import url("vars.css");


input.overlay-input {
 		border: 1px solid lightgray;
        font-family: 'ManRope', sans-serif;
        background: transparent;
        font-size: 18px;
        width: 100%;
        &:focus {
            color: black;
            outline: none;
        }
        &::first-letter {
            text-transform: capitalize;
        }
		&[readonly]{
			border: none;
		}
}
.action-buttons {

                position: absolute;
                top: -4px;
                left: -4px;

                form {
                    width: 24px;
                    height: 24px;
                    padding: 5px;
                    border-radius: 32px;
                    display: flex;
                    justify-content: center;

                    button {
                        background: none;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border-radius: 32px;
                        color: #223272;
                        padding: 5px;

                        img {
                            max-width: 8px;
                        }
                    }

                    &.delete-button {
                        background-color: #f2f2f2;
                        opacity: 72%;
                    }
                }
}

