:root {
    --yellow--primary: #ffd400;
    --white: #ffffff;
    --black: #262626;
    --gray-medium: #656567;
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --padding-large: 20px;
    --padding-medium: 10px;
}